@media (min-width: 1200px) {
    .forum-search__input {
        // width: 49.8rem;
        width: 370px;
        // height: 5.6rem;
        height: 50px;
        padding-left: 10rem;
        font-size: 1.8rem;
        margin-left: 27px;
    }
    .forum-search__icon {
        left: 6rem;
    }
    .forum-search {
        // width: 0;
    }
}